.react-multiple-carousel__arrow--left {
    left:calc(3% + 1px);
}
.react-multiple-carousel__arrow--right {
    right: calc(2% + 1px);
}

.react-multi-carousel-track {
    /*max-width: 1800px;*/
    /*padding: 0 30px;*/
    height: 300px;
    align-items: center;
}

.react-multi-carousel-track li {
    padding: 10px;

}